<div>
  <div id="map" class="smallmap"></div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="http://maps.google.com/maps/api/js?v=3&amp;sensor=false"></script>
<script src="http://openlayers.org/api/OpenLayers.js"></script>
<script src="js/heatmap.js"></script>
<script>
var map;
$(document).ready(function(){
  init();
});
</script>